<a href="https://colab.research.google.com/github/Alfred726/python_assignment/blob/master/Pandas%20Exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('nobel_prize.csv')
data

                             Name  ...  Details
0                  Frédéric Passy  ...      NaN
1                 Sully Prudhomme  ...      NaN
2          Emil Adolf von Behring  ...      NaN
3                 Wilhelm Röntgen  ...      NaN
4    Jacobus Henricus van 't Hoff  ...      NaN
..                            ...  ...      ...
943               Tawakkol Karman  ...      NaN
944                 Toni Morrison  ...      NaN
945                     Tu Youyou  ...      NaN
946               Wangari Maathai  ...      NaN
947            Wisława Szymborska  ...      NaN

[948 rows x 7 columns]

QUESTION ONE

In [3]:
data.isnull().sum()

Name             0
Year             0
Category         0
Countries        0
Gender           0
Description    894
Details        933
dtype: int64

QUESTION TWO

In [4]:
data["Year"].describe()

count     948.000000
mean     1971.118143
std        33.565438
min      1901.000000
25%      1947.000000
50%      1977.000000
75%      2000.000000
max      2019.000000
Name: Year, dtype: float64

QUESTION 3

In [5]:
data["Category"].unique()

array(['Peace', 'Literature', 'Physiology or Medicine', 'Physics',
       'Chemistry', 'Economics'], dtype=object)

In [6]:
results = data['Name'].value_counts()

In [7]:
data['Name'].value_counts()[data['Name'].value_counts()> 1]

International Committee of the Red Cross         3
United Nations High Commissioner for Refugees    2
Marie Skłodowska-Curie                           2
Frederick Sanger                                 2
Linus Pauling                                    2
John Bardeen                                     2
Name: Name, dtype: int64

QUESTION FOUR

In [8]:
data['Name']

0                    Frédéric Passy
1                   Sully Prudhomme
2            Emil Adolf von Behring
3                   Wilhelm Röntgen
4      Jacobus Henricus van 't Hoff
                   ...
943                 Tawakkol Karman
944                   Toni Morrison
945                       Tu Youyou
946                 Wangari Maathai
947              Wisława Szymborska
Name: Name, Length: 948, dtype: object

In [9]:
name_description = data[['Name', 'Description']]
null_description = name_description[name_description['Description'].isnull()]
null_description

                                                  Name Description
0                                       Frédéric Passy         NaN
1                                      Sully Prudhomme         NaN
2                               Emil Adolf von Behring         NaN
3                                      Wilhelm Röntgen         NaN
4                         Jacobus Henricus van 't Hoff         NaN
..                                                 ...         ...
889          Intergovernmental Panel on Climate Change         NaN
890                                     European Union         NaN
891  Organisation for the Prohibition of Chemical W...         NaN
892                 Tunisian National Dialogue Quartet         NaN
893  International Campaign to Abolish Nuclear Weapons         NaN

[894 rows x 2 columns]

QUESTION 5

In [10]:
data.groupby(['Category']).Category.value_counts().nlargest(10)

Category                Category
Physiology or Medicine  Physiology or Medicine    219
Physics                 Physics                   213
Chemistry               Chemistry                 184
Peace                   Peace                     134
Literature              Literature                116
Economics               Economics                  82
Name: Category, dtype: int64

QUESTION SEVEN

In [11]:
data_female = data['Gender'] == 'Female'
data_female.value_counts()

False    948
Name: Gender, dtype: int64

QUESTION EIGHT

In [12]:
data_countries = data[data.Countries=='United States']
data_countries

                        Name  ...  Details
33        Theodore Roosevelt  ...      NaN
67                Elihu Root  ...      NaN
75      Theodore W. Richards  ...      NaN
89            Woodrow Wilson  ...      NaN
110  Robert Andrews Millikan  ...      NaN
..                       ...  ...      ...
921            Jody Williams  ...      NaN
923            Linda B. Buck  ...      NaN
935            Pearl S. Buck  ...      NaN
938    Rosalyn Sussman Yalow  ...      NaN
944            Toni Morrison  ...      NaN

[275 rows x 7 columns]

In [13]:
united_states_female = data_countries['Gender']
united_states_female.value_counts()

Man             262
Woman            12
Organization      1
Name: Gender, dtype: int64

In [14]:
data_countries.sort_values(by='Name', ascending=False).head(1)

              Name  Year Category      Countries Gender Description Details
89  Woodrow Wilson  1919    Peace  United States    Man         NaN     NaN